* {
	box-sizing: border-box;
}

.clearfix::after {
	display: block;
	clear: both; /*both means left and right*/
	/* This ensures cross browser compatability*/
	height: 0;
	font-size: 0;
	content: '';
	/* Super paranoid mode is below */
	visibility: hidden;
}

html, body {
	margin: 0;
}

div, header, section, article, aside, footer, main {
	min-height: 100px;
	background-color: rgba(0, 100, 255, 0.2);
}



