* {
  box-sizing: border-box;
}

/*Default Styles*/ 
html, body {
	margin: 0;
	background-color: #09182eff;
	display: flex;
	flex-direction: column;
}

main {
	color: #f5f5f5;
	display: block;
}

header, footer{
	display: block;
}


/*Phone Media Query Section*/
@media (max-width:320px) { 

/*///////////////////I'm starting new code here////////////////*/
/*nav section css*/
.navContainer {
	display: flex;
	width: 100vw;
	height: auto;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: space-between;
}

.navSettings{
/*-----------------What does overflow hidden do?----------*/
	overflow: hidden;
}

.navSettings a.longName {
	width: 170px;
}

.navSettings a {
	display: inline-block;
	width: 90px;
	font-size: 15px;
	font-family: Quicksand;
	text-decoration: none;
	color: #f5f5f5;
	text-align: center;
/*	transition: all 1s;*/
}

.navSettings a:hover {
	color: #f5f5f5;
	background-color: rgba(0,214,188,0.5);
}

.navSettings a active {
	color: #f5f5f5;
}

hr.topLine {
	width: 100vw;
	height: 0px;
	margin-top: 20px;
	margin-right: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #00d6bc;
}
/*END nav section END*/

hr.bottomLine {
	display: block;
	width: 100vw;
	margin-bottom: ;
	margin-left: auto;
	border-width: 1px;
	border-style: solid;
	border-color: #00d6bc;
}

.mainContainer {
	display: flex;
	width: 100vw;
	height: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

div.circles {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
 	width: 500px;
 	margin: 50px;
}

.outerCircle {
	position: relative;
	height: 500px;
 	width: 500px;
 	background-color: #00d6bc;
 	border-radius: 50%;
 	padding: 10px;
}

.innerCircle {
	position: absolute;
	height: 400px;
	width: 400px;
	background-color: #09182eff;
	border-radius: 50%;
 	text-align: center;
}
/* Can't figure out how to scale the circle as media queries change*/

/*Hi, my name is Yoojin Hong section*/
.nameContainer {
	display: flex;
/*	width: 100vw;*/
	height: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

h1 {
	font-size: 40px;
	height: 20px;
	text-align: center;
}

p.name {
	margin-top: 0;
	padding-bottom: 50px;
	font-size: 60px;
	color: #00d6bc;
}
/*END name section END*/
}
/*END phone media query section END*/


/*Laptop Media Query Section*/
@media (min-width:961px) { 
/*nav section css*/
.navContainer {
	display: flex;
	width: 100vw;
	height: auto;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	align-content: space-between;
}

.navSettings{
/*-----------------What does overflow hidden do?----------*/
	overflow: hidden;
}

.navSettings a.longName {
	width: 170px;
}

.navSettings a {
	display: inline-block;
	width: 90px;
	font-size: 17px;
	font-family: Quicksand;
	text-decoration: none;
	color: #f5f5f5;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	margin-top: 0px;
/*	transition: all 1s;*/
}

.navSettings a:hover {
	color: #f5f5f5;
	background-color: rgba(0,214,188,0.5);
}

.navSettings a active {
	color: #f5f5f5;
}

hr.topLine {
	width: 700px;
	height: 0px;
	margin-top: 20px;
	margin-right: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #00d6bc;
}
/*END nav section END*/

hr.bottomLine {
	width: 700px;
	height: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #00d6bc;
}

.mainContainer {
	display: flex;
	width: 100vw;
	height: auto;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

div.circles {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
 	width: 500px;
 	margin: 50px;
}

.outerCircle {
	position: relative;
	height: 500px;
 	width: 500px;
 	background-color: #00d6bc;
 	border-radius: 50%;
}

.innerCircle {
	position: absolute;
	height: 400px;
	width: 400px;
	background-color: #09182eff;
	border-radius: 50%;
 	text-align: center;
}

/*Hi, my name is Yoojin Hong section*/
.nameContainer {
	display: flex;
/*	width: 100vw;*/
	height: auto;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	align-content: space-around;
}

h1 {
	font-size: 40px;
	height: 20px;
	text-align: left;
}

h1 p {
	margin: 0 auto;
	font-size: 60px;
	color: #00d6bc;
}
/*END name section END*/
}
/*END Laptop Query Section END*/

