<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Nanum+Gothic&display=swap');
</style>
/* !!!font-family: 'Montserrat', sans-serif;*/

/* The asterisk (the star) means "all", a css rule with the asterisk will individually 
		apply what you write with every single individual tag */
*{
	box-sizing: border-box;
}

/* If you want to write css rules for an entire section you write that tag's name */
body {
	background-color: #01ADEF;
	color: #ffffff;
/* you can add padding and margins in a specific way to make the text/content go from
	edge to edge on the page */
	padding: 0px;
	margin: 0px;
	font-size: 20px;
}

/* To make an id just make the hashtag and THEN the name of the tag */
/* You can only use an id once in your entire code */
#specialtext {
	color: #ff0072;
}

/* To make a class you use a dot (.) instead of a hashtag */
/* Classes are made to be used more than once and give multiple things the same style */
.highlight {
	background-color: #dadb0d;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

hr {
	text-align: center;
	width: 1400px;
}

h2 {
	color: #18191A;
	margin-left: 70px;
}

p, a {
	margin-left: 70px;
	margin-right: 70px;
	text-indent: 60px;
}

div {
	position: relative;
	text-align: center;
}

div div {
	position: relative;
	display: inline-block;
	width: 23%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 2%;
}

div img{
	width: 90%;
	height: auto;
}

div p {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	text-indent: 0;
	margin-bottom: 5px;
}

.dates {
	position: absolute;
	bottom: 3px;
	left: 0px;
	right: 0px;
}

.bottom {
	margin-bottom: 50px;
}